[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "XXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {api_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {access_token, "9999999999-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
	    {access_token_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}]
    }]}]}].
